@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #1B1464;

  --background-light: #e7e7ed;
}

@theme {
  --font-sans: "Exo 2", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--background-light);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 650;
  color: #FFFFFF;
}
