.home-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

h1 {
    margin-left: 1.5rem;
}

.home-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin-left: 1.5rem;
}

.home-description {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-left: 1.5rem;
}

.filtering-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}